<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Template.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Connection_Database" connectionString="Data Source=np-stem.temple.edu; Initial Catalog=CIS4396SXX;PersistSecurityInfo=True; Integrated Security=False;User id=usrCIS4396SXX;Password="/>
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Connection_DB_Password" value="" />
    <add key="Connection_WS_Username" value="" />
    <add key="Connection_WS_Password" value="" />
    <add key="demo_mode" value="False" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="70"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" executionTimeout="3600"/>
    <customErrors mode="Off"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^localhost$" negate="true"/>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^localhost(:\d+)?$" negate="true"/>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^127\.0\.0\.1(:\d+)?$" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="'self' https://ajax.googleapis.com https://maxcdn.bootstrapcdn.com https://np-stem.temple.edu https://pre-stem.temple.edu https://prod-stem.temple.edu"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Expires" value="0"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097152000"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <applicationSettings>
    <Template.Properties.Settings>
      <setting name="Template_WS_LDAP_Search_LDAP_Search" serializeAs="String">
        <value>https://preprod-wsw.temple.edu/ws_ldapsearch/ldap_search.asmx</value>
      </setting>
      <setting name="Template_WS_Programs_And_Degrees_ProgramsAndDegrees" serializeAs="String">
        <value>https://preprod-wsw.temple.edu/programsanddegrees/ProgramsAndDegrees.asmx</value>
      </setting>
      <setting name="Template_WS_Student_Search_WS_Student" serializeAs="String">
        <value>https://preprod-wsw.temple.edu/ws_student/ws_student.asmx</value>
      </setting>
    </Template.Properties.Settings>
  </applicationSettings>
</configuration>